In [64]:

# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [65]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-12-12 23:49:43,-34.5322,20.0403,60.28,87,100,2.08
1,1,Baghdad,IQ,2021-12-12 23:49:11,33.3406,44.4009,51.71,66,0,8.05
2,2,Beringovskiy,RU,2021-12-12 23:49:44,63.0500,179.3167,-15.45,99,100,13.96
3,3,Labrea,BR,2021-12-12 23:49:44,-7.2586,-64.7981,76.69,87,99,3.40
4,4,Port Alfred,ZA,2021-12-12 23:49:44,-33.5906,26.8910,71.58,95,100,11.59

In [66]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [67]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [68]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [71]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [77]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Labrea,BR,2021-12-12 23:49:44,-7.2586,-64.7981,76.69,87,99,3.40
15,15,Maumere,ID,2021-12-12 23:49:48,-8.6199,122.2111,83.19,74,100,2.66
17,17,Gizo,SB,2021-12-12 23:49:49,-8.1030,156.8419,85.01,72,61,6.44
22,22,Vaini,TO,2021-12-12 23:49:51,-21.2000,-175.2000,82.56,83,40,12.66
34,34,Namatanai,PG,2021-12-12 23:49:55,-3.6667,152.4333,86.16,65,95,5.57
35,35,Rikitea,PF,2021-12-12 23:49:55,-23.1203,-134.9692,77.81,75,88,7.85
42,42,Mahajanga,MG,2021-12-12 23:49:58,-15.7167,46.3167,80.62,61,40,5.75
46,46,Alenquer,BR,2021-12-12 23:50:59,-1.9417,-54.7383,79.14,86,80,2.91
47,47,Ugoofaaru,MV,2021-12-12 23:50:59,5.6667,73.0000,82.49,75,100,16.37
53,53,Haines City,US,2021-12-12 23:51:01,28.1142,-81.6179,76.68,79,40,12.66

In [78]:
preferred_cities_df.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

In [79]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3        Labrea      BR     76.69  -7.2586  -64.7981
15      Maumere      ID     83.19  -8.6199  122.2111
17         Gizo      SB     85.01  -8.1030  156.8419
22        Vaini      TO     82.56 -21.2000 -175.2000
34    Namatanai      PG     86.16  -3.6667  152.4333
35      Rikitea      PF     77.81 -23.1203 -134.9692
42    Mahajanga      MG     80.62 -15.7167   46.3167
46     Alenquer      BR     79.14  -1.9417  -54.7383
47    Ugoofaaru      MV     82.49   5.6667   73.0000
53  Haines City      US     76.68  28.1142  -81.6179

In [80]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [84]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [85]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Labrea,BR,76.69,-7.2586,-64.7981,Hotel Novo Horizonte
15,Maumere,ID,83.19,-8.6199,122.2111,Sylvia Hotel
17,Gizo,SB,85.01,-8.1030,156.8419,Imagination Island
22,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
34,Namatanai,PG,86.16,-3.6667,152.4333,Seagulls Inn Namatani
35,Rikitea,PF,77.81,-23.1203,-134.9692,People ThankYou
42,Mahajanga,MG,80.62,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga
46,Alenquer,BR,79.14,-1.9417,-54.7383,Josilene Castro
47,Ugoofaaru,MV,82.49,5.6667,73.0000,Ungoofaaru Inn
53,Haines City,US,76.68,28.1142,-81.6179,Stay Plus Inn

In [87]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [90]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))